target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Latex ###
/doc/ausarbeitung/*.aux
/doc/ausarbeitung/*.bbl
/doc/ausarbeitung/*.blg
/doc/ausarbeitung/*.glg
/doc/ausarbeitung/*.glo
/doc/ausarbeitung/*.gls
/doc/ausarbeitung/*.glsdefs
/doc/ausarbeitung/*.ist
/doc/ausarbeitung/*.lof
/doc/ausarbeitung/*.log
/doc/ausarbeitung/*.lol
/doc/ausarbeitung/*.lot
/doc/ausarbeitung/*.nlg
/doc/ausarbeitung/*.not
/doc/ausarbeitung/*.ntn
/doc/ausarbeitung/*.out
/doc/ausarbeitung/*.run.xml
/doc/ausarbeitung/*.synctex.gz
/doc/ausarbeitung/*.toc
/doc/ausarbeitung/*-blx.bib
